
* {
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #355C7D , #6C5B7B, #C06C84);
    background-attachment:fixed;
}

nav {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
}

.headpiece {
    text-align: center;
    padding-top: 50px;
    float: left;
    width: 40%;
    padding: 10px;
    padding-top: 150px;
    position: fixed;
}

.content {
    float: right;
    width: 60%;
    padding: 10px;
  }

.blogs {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
